* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    margin: 0 auto;
    display:flex;
    flex-direction: column;
	font-family: "Sansita", sans-serif;
    
}

/* mobile **************************/
header {
	background-color: #e56399;
	display: flex;
    justify-content:space-between ;
    align-items: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
    color: #f7ffe4;
    margin-bottom: 10px;
}
.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
}
.close-button {
    position: fixed;
    right: 0;
    top: 0;
    margin: 20px;
}

header.showNav {
    justify-content: center;
}

.hamburger {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}
h1 {
	font-size: 40px;
	margin: 0;
}

.nav-links {
    display: none;
}

.nav-links a {
    color: #24292a;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
    font-size:100%;
}
.nav-links.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-links.show a:hover {
	text-decoration:underline;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
    align-items: center;
    padding:10px;
}

.temple-display {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px; 
    margin: 0 auto;
    max-width: 1000px;
    
}
.temple {
    background-color: #e56399;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    border-radius: 20px;
    padding:15px;

}

.temple-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: -5px;
    
}

p {
    font-family: "Sansita", sans-serif;
    padding:10px;
}

li {
    font-family: "Sansita", sans-serif;
    
}
.label {
    text-align: right;
    
}

img {
    width: 90%;
    height: auto;
}

footer{
	background-color: #e56399;
    display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
    color:#282828;
    font-weight: 100;
    font-size: 100%;
    margin:10px;

}
#lastModified {
    position: absolute;
    margin-top: 50px;
    color: #322712;
     
}
