:root {
    --background-color: #FFD0D0; /*Light Pink*/
    --primary-color: #e79393; /*Dark Pink*/
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body {
    display: grid;
    width: 100%;
    min-height: 10%;
    max-width: 1400px;
    min-width: 380px;
    justify-content: center;
    font-family: Arial, sans-serif;
}
header {
    background-color: var(--primary-color);
    text-align: center;
    color: #575757;
    margin-bottom: .5rem;
    margin-top: .5rem;
    padding:10px;
}
main{
    background-color: var(--background-color);
    width: 450px;
    
}
/*Product Name*/
form{
    display: block;
    margin: 0 auto;
    padding: 1rem;
    height: 800px;
}
#product-name,
.date input{
    margin:10px;
    padding:5px;
    width:400px;
}
/*Overall Rating*/
.rating,
.date,
.features,
.review,
.user,
.submit{
    margin-top: 20px;
}
.stars {
    display: flex;
    justify-content: space-evenly;
}
.stars label {
    font-size: 20px;
}
#overallRating1{
    margin-left: 30px;
}
#overallRating2{
    margin-left: 35px;
}
#overallRating3{
    margin-left: 53px;
}
#overallRating4{
    margin-left: 68px;
}
#overallRating5{
    margin-left: 87px;
}

/*Useful Features*/
.apply label{
    font-style: italic;
    font-size:small;
}

/*Written Review*/
.review label{
    display: block;
}
span{
    color:#121481;
    font-style: italic;
}
.review textarea{
    padding:50px;
    width:100%;
}
/*User Nmae*/
.user label{
    display: block;
}
.user input{
    width:100%;
    padding:10px;
    
}
/*Form Submission*/
.submit input{
    width:100%;
    padding:20px;
    font-size: larger;
    font: bolder;
    border: solid 1px black;

}

footer{
    background-color: var(--primary-color);
    margin-top: 10px;
    padding:20px;
    text-align: center;
}